:root {
    --primary-text-color: #303030;
    --light-color: #9e9e9e;
    --secondary-text-color: #e8e8e8;
    --hover-text-color: #c51f3a89;
    --primary-color: #a4132b;
    --primary-dark: #630918;
    --primary-lite: #984855;
    --primary-hover-color: #fff000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

.bi-caret-left-fill,
.bi-caret-right-fill {
    color: var(--secondary-text-color);
    font-size: 40px;
}

.nav-item a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 14px;
    transition: all 0.4s;
    font-family: 'Poppins', sans-serif;
}

.nav-item a:hover {
    color: var(--primary-color);
}

.navbar-brand {
    height: 50px;
    width: auto;
}

.navbar-brand > img {
    height: 50px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-size: .64rem;
    font-weight: 600;
}

.search {
    height: 45px;
    outline: none;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
    box-shadow: none;
}

.btn1 {
    height: 45px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 0 20px 20px 0;
    transition: all 0.4s;
}

.btn1:hover {
    background-color: var(--primary-dark);
}

.bi-bag {
    font-size: 30px;
    color: var(--primary-text-color);
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}

.bi-bag:hover {
    color: var(--primary-color);
}

.navbar-toggler {
    font-size: 20px;
    color: var(--primary-text-color);
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.main {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./images/background-1.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.main p:nth-child(1), .about p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}

.main p:nth-child(4), .about p:nth-child(4) {
    color: var(--primary-text-color);
}

.mbtn1 {
    height: 50px;
    width: 25%;
    outline: none;
    border-radius: 50px;
    transition: all 0.4s;
    border: none;
    color: var(--secondary-text-color);
    background-color: var(--primary-color);
}

.mbtn2 {
    height: 50px;
    width: 25%;
    outline: none;
    border-radius: 50px;
    transition: all 0.4s;  
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.mbtn1:hover {
    background-color: var(--primary-dark);
}

.mbtn2:hover {
    background-color: var(--primary-dark);
    color: var(--secondary-text-color);
}

.line {
    display: inline-block;
    height: 6px;
    width: 30%;
    background: var(--primary-color);
}

.line2 {
    display: inline-block;
    height: 6px;
    width: 30%;
    background-color: var(--secondary-text-color);
}

.about {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(./images/background-2.png);
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.main p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}

.main p:nth-child(4) {
    color: var(--primary-text-color);
}

.about h1 {
    font-size: 3rem;
}

.welcome {
    background-color: var(--primary-color);
}

.welcome h1 {
    font-size: 3rem;
}

.welcome .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.welcome i {
    font-size: 45px;
    color: var(--primary-color);
}

.welcome h2 {
    font-weight: lighter;
    padding: 10px 0;
}

.product h1 {
    font-size: 3rem;
}

.product p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}

.product p:nth-child(4) {
    color: var(--primary-text-color);
}

.gender {
    color: var(--primary-text-color);
    text-align: end;
    font-family: 'Permanent Marker', cursive;
}

.product .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

.product .card-body {
    border: 1px dashed var(--light-color);
}

.head1 {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

.price {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
}

.cost {
    font-weight: bold;
}

.per1 {
    color: var(--light-color);
}

.btnc {
    display: block;
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    color: var(--secondary-text-color);
    background: var(--primary-color);
    border-radius: 50px;
    margin: 0 auto;;
    transition: all 0.4s;
}

.btnc:hover {
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    border-radius: 50px;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 999;
}

.modal-header {
    justify-content: center;
}

.product_view .modal-dialog {
    max-width: 800px; width: 100%;
}

.pre-cost {
    text-decoration: line-through; 
    color: #a5a5a5;
}

.space-ten {
    padding: 10px 0;
}

.discount {
    background: var(--primary-color);
    color: var(--secondary-text-color);
}

.discount a {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.bi-instagram {
    color: var(--secondary-text-color);
    font-size: 4rem ;
    transition: all 0.4s;
}

.bi-instagram:hover {
    transform: rotateY(5deg);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.store h1 {
    font-size: 3rem;
}

.store p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}

.store p:nth-child(4) {
    font-size: 18px;
    color: var(--primary-text-color);
}

.store i {
    font-size: 45px;
}

.store .card {
    border-radius: 0;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
}

.store .card:hover {
    background-color: var(--hover-text-color);
    color: var(--secondary-text-color);
}

.store .card:hover .per1 {
    color: var(--secondary-text-color);
}

.seller h1 {
    font-size: 3rem;
}

.seller i {
    color: var(--primary-color);
}

.seller .card {
    border: none;
    border-radius: 0;
}

.contact {
    /* background: url(./images/background-1.png) no-repeat;
    background-size: cover;
    width: 100%; */

    background-color: var(--primary-color);
}

.contact h1 {
    font-size: 3rem;
    color: var(--secondary-text-color);
}

.contact p {
    color: var(--secondary-text-color);
}

.circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}

.contact input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--secondary-text-color);
    margin-top: 10px;
    padding: 10px;
}

.contact textarea {
    height: 100px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--secondary-text-color);
    margin-top: 10px;
    padding: 10px;
}

.cbtn {
    height: 50px;
    width: 35%;
    outline: none;
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-text-color);
    border-radius: 50px;
    font-weight: lighter;
    transition: all 0.4s;
}

.cbtn:hover {
    background: var(--primary-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 50px;
}

.footer {
    background: var(--primary-dark);
}

.privacy {
    text-align: end;
}

.privacy a {
    text-decoration: none;
    color: var(--secondary-text-color);
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.s1:hover {
    background-color: var(--primary-color);
    border: none;
}

.footer p {
    color: var(--secondary-text-color);
}

#more {display: none;}